{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
      {% if user %}
        <div>
          <form id="twit-form" action="/gallery" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <textarea id="twit" name="hashtags" maxlength="40" placeholder="해쉬태그"></textarea>
            </div>
            <div class="img-preview">
              <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
              <input id="img-url" type="hidden" name="url">
            </div>
            <div>
              <label id="img-label" for="img">사진 업로드</label>
              <input id="img" type="file" accept="image/*">
              <button id="twit-btn" type="submit" class="btn">올리기</button>
            </div>
          </form>
        </div>
      <div class="twits">
        <form id="hashtag-form" action="/gallery" method="get">
          <input type="text" name="hashtag" placeholder="태그 검색">
          <button class="btn">검색</button>
        </form>
      {% endif %}
        {% for twit in twits %}
          <div class="twit">
            <input type="hidden" value="{{twit.poster_id}}" class="twit-user-id">
            <input type="hidden" value="{{twit.id}}" class="twit-id">
            <div class="twit-author">{{twit.poster_nick}}</div>
            <div class="twit-date">{{twit.date}}</div>
            <div class="twit-hashtag">해쉬태그: {{twit.content}}</div>
            {%if user.id == twit.poster_id %}
              <form action="/gallery/modify" method="post" style="display:inline-block;">
                <button type="submit" name="id" value="{{twit.id}}" class="btn">수정</button>
              </form>
              <form action="/gallery/delete" method="post" style="display:inline-block;">
                <button type="submit" name="id" value="{{twit.id}}" class="btn">삭제</button>
              </form>
            {% endif %}
            {% if twit.img %}
              <div class="twit-img"><img src="{{twit.img}}"/></div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/gallery/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
  </script>
{% endblock %}